/DemoCollection/build/
/bookdb/nbproject/private/
/bookdb/build/
/Login/nbproject/private/
/Login/build/
/SessionTracking/nbproject/private/
/SessionTracking/build/
/ProductCart/nbproject/private/
/ProductCart/build/
/DemoFilter/nbproject/private/
/DemoFilter/build/
/DemoUpload/DemoUpload/build/
/DemoUpload/DemoUpload/nbproject/private/
/DemoUpload/build/
/DemoUpload/nbproject/private/
/StudentDb/nbproject/private/
/StudentDb/build/
/StudentJPA/nbproject/private/
/StudentJPA/build/
/DemoCRUD_DAL_JPA_StudentDb/nbproject/private/
/DemoCRUD_DAL_JPA_StudentDb/build/
/DemoS9_include/nbproject/private/
/DemoS9_include/build/
/ProductJdbc/nbproject/private/
/ProductJdbc/dist/
/ProductJdbc/build/
/ProductJdbc2/nbproject/private/
/DemoMVC_marven/target/
/DemoStaticMethod/nbproject/private/
/DemoStaticMethod/build/
/DemoJSTL/nbproject/private/
/DemoJSTL/build/
/testMaven2/target/
/Account/nbproject/private/
/Account/build/
/DemoFormBased_security/nbproject/private/
/DemoFormBased_security/build/
/DemoFormBased_security_/nbproject/private/
/DemoFormBase_secu/nbproject/private/
/DemoFormBase_secu/build/
/DemoFormBase_secu/dist/
/ProductUpload/nbproject/private/
/ProductUpload/build/
/DemoTags/nbproject/private/
/DemoTags/build/
/PhonePrj/nbproject/private/
/PhonePrj/build/
/PhonePrj/dist/
/Ontap2/nbproject/private/
/Ontap2/build/
/Ontap2/dist/
/Ontop2.1/nbproject/private/
/Ontop2.1/build/
/ontap3/nbproject/private/
/ontap3/build/
/ontap3/dist/
/De03 (1)/De03/build/
/De03 (1)/De03/dist/
/De03 (1)/De03/nbproject/private/
/De03/De03/build/
/De03/De03/dist/
/De03/De03/nbproject/private/
