<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MyInitParam1</servlet-name>
        <servlet-class>vn.aptech.servlet.MyInitParam1</servlet-class>
        <init-param>
            <param-name>data</param-name>
            <param-value>Welcome to T1.2009.A0</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyInitParam1</servlet-name>
        <url-pattern>/MyInitParam1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            login.jsp
        </welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>404.jsp</location>
    </error-page>
</web-app>
